<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org"
      xmlns:social="https://spring.io/springsocial"
      xmlns:layout="https://github.com/ultraq/thymeleaf-layout-dialect"
      layout:decorator="layout">
<head>
    <title>Spring Social Twitter</title>
</head>
<body>
<div id="header">
    <h1><a th:href="@{/}">Spring Social Twitter</a></h1>
</div>

<div id="content" layout:fragment="content">
<!--    <h3>Your Twitter <span th:text="${timelineName}">timelineName</span> Timeline</h3>-->

 <!--   <h4>Post a tweet</h4>
    <form th:action="@{/twitter/tweet}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <textarea name="message" rows="2" cols="80"></textarea><br/>
        <input type="submit" value="Post Tweet"/>
    </form>-->

    <form th:action="@{/twitter/search}" method="get">
        <p><input type="text" name="query" th:value="${param.query}" /> <input type="submit" value="Search"/></p>
    </form>

    <!--<ul class="choices">
        <li><a th:href="@{/twitter/timeline} + '/Home'">Home Timeline</a></li>
        <li><a th:href="@{/twitter/timeline} + '/User'">User Timeline</a></li>
        <li><a th:href="@{/twitter/timeline} + '/Mentions'">Mentions</a></li>
        <li><a th:href="@{/twitter/timeline} + '/Favorites'">Favorites</a></li>
    </ul>-->

</div>
</body>
</html>